<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   flashycards.plist
   Flashy

   Created by Whitman Huntley on 6/11/16.
   Copyright (c) 2016 HyperChicken Interactive. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
