<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cardscontained</key>
		<array>
			<dict>
				<key>side1</key>
				<string></string>
				<key>side2</key>
				<string></string>
			</dict>
			<dict>
				<key>side1</key>
				<string></string>
				<key>side2</key>
				<string></string>
			</dict>
		</array>
		<key>name</key>
		<string></string>
		<key>uniqueid</key>
		<integer>0</integer>
		<key>initializedViaEncoder</key>
		<true/>
	</dict>
</array>
</plist>
